.links-footer{
    text-decoration: none;
    color: #000000;
}

.links-footer:hover{
    color: #333366;
    text-decoration: underline;
}

.copy{
    background-color: #333366;
    color: #EBEBEB;
}

.copy p{
    margin: 0;
    padding: 0;
}