@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.contain-hero{
    background-color:#333366;
    height: 550px;
    color: #FFFFFF;
}

.hero-img{
    max-height: 400px;
    align-items: center;
}

.hero-img-container{
    display: flex;
    justify-content: center;    
}

.list-about{
    list-style: none;
}

.services-row{
    margin: 1%;
    justify-content: center;
}

.service-card{
    background-color: #FFFFFF;
    margin: 1%;
    max-width: 250px;
    padding: 2%;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.8s;
}

.service-card:hover{
    background-color: #EBEBEB;
}

.callaction{
    background-color: #333366;
    height: 250px;
    color: #EBEBEB;
}

.callaction-info{
    height: 100%;
}

.links-footer{
    text-decoration: none;
    color: #000000;
}

.links-footer:hover{
    color: #333366;
    text-decoration: underline;
}

.copy{
    background-color: #333366;
    color: #EBEBEB;
}

.copy p{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 992px){
    .contain-hero{
        height: 100vh;
    }
    .hero-img-container{
        padding-top: 5rem;
    }

    .hero-text{
        text-align: center;
    }

    .services-row{
        margin: 0;
    }
    
    .service-card{
        margin: 0.5%;
    }
}

@media screen and (max-width: 576px){
    .hero-img{
        max-height: 300px;
    }

    .hero-text{
        text-align: center;
    }

    .cont-about-us{
        margin: 0 !important;
        padding: 20px 0 0 0;
    }
}

@media screen and (max-width: 365px){
    .hero-img{
        max-height: 200px;
    }

    .hero-text{
        text-align: center;
    }
}